<h1 class="text-center mt-3">Project Detail Page</h1>

@if(project) {
<div class="container mt-4">
  <!-- Project Details Section -->
  <div class="project-details">
    <div class="project-header text-center">
      <h2>{{ project.title }}</h2>
    </div>
    <div class="project-info-grid">
      <div class="project-info-item">
        <h5>Client:</h5>
        <p>{{ project?.client.name }}</p>
      </div>
      <div class="project-info-item">
        <h5>Assigned Person:</h5>
        <p>{{ project.assigned_person }}</p>
      </div>
      <div class="project-info-item">
        <h5>Estimated Hours:</h5>
        <p>{{ project.estimated_hours }} hrs</p>
      </div>
      <div class="project-info-item">
        <h5>Actual Hours:</h5>
        <p>{{ project.actual_hours }} hrs</p>
      </div>
      <div class="project-info-item">
        <h5>Hourly Rate:</h5>
        <p>₹{{ project.hourly_rate }}/hr</p>
      </div>
      <div class="project-info-item">
        <h5>Total Amount:</h5>
        <p>₹{{ project.amount }}</p>
      </div>
    </div>
    <div class="project-description">
      <h5>Description:</h5>
      <p>{{ project.description }}</p>
    </div>
  </div>

  <!-- Comments Section -->
  <div class="comments-section mt-5">
    <h4 class="text-center">Comments</h4>
    <form [formGroup]="commentForm" class="comment-form">
      <textarea type="text" class="form-control" formControlName="message" placeholder="Add a comment..."></textarea>
      
      <div class="file-attach-options">
        <button class="btn btn-warning comment-button w-100 mb-1" type="button" (click)="openFileSelector('image')">Attach Image</button>
        <button class="btn btn-warning comment-button w-100 mt-1" type="button" (click)="openFileSelector('pdf')">Attach PDF</button>
      </div>
    
      <input type="file" (change)="handlefileInput($event)" #fileInput style="display: none;" />
      
      <button class="btn btn-primary comment-button" type="button" (click)="addComment()">Add Comment</button>
    </form>
    

    @if(previewCommentImage){
      <div  class="mt-3">
        @if(selectedFileType === 'image'){
          <img
          [src]="previewCommentImage"
          alt="Preview"
          style="max-width: 100%; max-height: 200px;"
          />
        }@else {
          <a [href]="previewCommentImage" target="_blank">Selected PDF</a>
        }
      </div>
    }


      @if(comments.length > 0) {
        <form [formGroup]="searchCommentForm">
          <div class="mt-3">
            <input type="text" class="form-control" placeholder="Search comments..." formControlName="textToSearch"  (input)="searchComment()">
          </div>
        </form>
      <div class="existing-comments mt-4">
        <h5 class="text-center">- Existing Comments -</h5>
        @if(filteredComments.length !== 0){
        <ul class="comments-list">
          @for(comment of filteredComments; track $index) {
          <li class="comment-item">
            <div class="comment-content">
              <span class="message">{{ comment.message }}</span>
              <span class="timestamp">{{ comment.createdAt?.seconds * 1000 | date: 'MMM d, y, h:mm a' }}</span>
        
              @if(comment.fileType === 'image'){
                <div>
                  <img [src]="comment.imageObject.url" alt="Comment Image" (click)="openImage(comment.imageObject.url)" style="cursor: pointer; width: 200px;"/>
                </div>
              }
              
              @if(comment.fileType === 'pdf'){
                <div>
                  <a [href]="comment.imageObject.url" target="_blank">View PDF</a>
                </div>
              }
        
              <button class="btn btn-danger btn-sm delete-button ms-2" (click)="deleteComment(comment)">Delete</button>
            </div>
          </li>
          }
        </ul>
        }@else{
          <div class="text-muted text-center mt-4">
            No Matched comments.
          </div>
        }
      </div>
      } @else {
      <div class="text-muted text-center mt-4">
        No comments yet. Be the first to comment!
      </div>
      }
  </div>
</div>
} @else {
<div class="text-center">Loading...</div>
}
