<form class="col-lg-10 col-md-10 col-sm-12 ps-3 pe-3 m-auto mt-5" [formGroup]="projectForm" >
    @if(projectId){
        <h2 class="text-center mb-3">Update Project</h2>
    }@else{
        <h2 class="text-center mb-3">Add Project</h2>
    }

    <div class="mb-3">
        <label for="client" class="form-label">Select Client <span class="text-danger">*</span></label>
        <select class="form-select" formControlName="client" [compareWith]="compareFn" [ngClass]="{'is-invalid': projectForm.get('client')?.invalid && projectForm.get('client')?.touched}">
            <option disabled value="" >Select Client</option>
            @for( client of clients ; track $index){
                <option [ngValue]="client">{{client.name}}</option>
            }
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Enter Title <span class="text-danger">*</span></label>
        <input type="text" class="form-control" placeholder="Title" formControlName="title" [ngClass]="{'is-invalid': projectForm.get('client')?.invalid && projectForm.get('client')?.touched}">
    </div>
    <div class="mb-3">
        <label class="form-label">Write Description </label>
        <textarea class="form-control" placeholder="Write description" style="height: 100px" formControlName="description"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Estimated Hours </label>
        <input class="form-control" placeholder="Estimated Hours" formControlName="estimated_hours" [ngClass]="{'is-invalid': projectForm.get('estimated_hours')?.invalid && projectForm.get('estimated_hours')?.touched}">
    </div>
    <div class=" mb-3">
        <label  class="form-label">Actual Hours </label>
        <input class="form-control" placeholder="Actual Hours" formControlName="actual_hours" [ngClass]="{'is-invalid': projectForm.get('actual_hours')?.invalid && projectForm.get('actual_hours')?.touched}">
    </div>
    <div>
        <label  class="form-label">Enter Hourly Rate </label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">₹</span>
            <input class="form-control" placeholder="Enter Hourly Rate" formControlName="hourly_rate" [ngClass]="{'is-invalid': projectForm.get('hourly_rate')?.invalid && projectForm.get('hourly_rate')?.touched}">
        </div>
    </div>
    <div>
        <label  class="form-label">Enter Total Amount </label>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">₹</span>
            <input class="form-control" placeholder="Enter Total Amount" formControlName="amount" [ngClass]="{'is-invalid': projectForm.get('amount')?.invalid && projectForm.get('amount')?.touched}">
        </div>
    </div>
    
    <div class=" mb-3">
        <label  class="form-label">Select Assigned Person </label>
        <select class="form-select" formControlName="assigned_person" [ngClass]="{'is-invalid': projectForm.get('assigned_person')?.invalid && projectForm.get('assigned_person')?.touched}">
            <option disabled value="">Select Assigned Person</option>
            @for( employee of employees ; track $index){
                <option [value]="employee.name">{{employee.name}}</option>
            }
        </select>
    </div>
    <div class="mb-3">
        <label class="form-label">Enter Sheet URL </label>
        <input class="form-control" placeholder="Enter Sheet URL" formControlName="sheet_url" [ngClass]="{'is-invalid': projectForm.get('sheet_url')?.invalid && projectForm.get('sheet_url')?.touched}">
    </div>
    
    <div class="input-group mb-3">
        <button type="button" class="btn btn-outline-primary w-100" (click)="onSubmit()">
            {{ projectId ? 'Update Project' : 'Create Project' }}
        </button>
    </div>
</form>
