<div class="col-lg-10 col-md-10 col-sm-12 ps-3 pe-3 m-auto mt-4" style="width: 100%;">
    <h2 class="text-center mb-4">All Client List</h2>
    

    <div class="d-flex justify-content-between align-items-center mt-4">
      <!-- Filter Container -->
      <div class="filter-container">
        <form [formGroup]="clientFilterForm">
          <label for="company" class="filter-label mb-1">Clients</label>
          <select id="company" class="form-control" formControlName="selectedProjectCategory" (change)="applyFilters()">
            <option disabled selected value="">Select Project Category</option>
            @for(category of categories; track $index){
              <option [value]="category.name">{{ category.name }}</option>
            }
          </select>
        </form>
      </div>
    
      <!-- Add Project Button -->
      <button class="btn btn-success" (click)="navigateToAddClient()">Create Client</button>
    </div>

  
    <div class="table-responsive mt-4">
      <table class="table table-striped project-table">
        <thead>
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col">Client Name</th>
            <th scope="col">Status</th>
            <th scope="col">Assigned Employee</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for(client of filteredClients; track $index) {
            <tr>
              <td>{{ $index + 1 }}</td>
              <td>{{ client.name }}</td>
              <td>{{ client.status }}</td>
              <td>{{ client.contact_person }}</td>
              <td>
                <div class="actions">
                  <div (click)="navigateToSingleClient(client.id)" class="action-icon view-icon">
                    <!-- View Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                      <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
                      <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
                    </svg>
                  </div>
                  <div (click)="navigateToUpdate(client.id)" class="action-icon update-icon">
                    <!-- Update Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                      <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                      <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                    </svg>
                  </div>
                  <div (click)="navigateToDelete(client.id)" class="action-icon delete-icon">
                    <!-- Delete Icon -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill icon" viewBox="0 0 16 16">
                      <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                    </svg>
                  </div>
                </div>
              </td>
            </tr>
          }
          @if(clientList.length === 0){
            <tr>
              <td colspan="5" class="no-projects-msg">No Clients</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
</div>
  